parameters:
	ignoreErrors:
		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: Classes/PreviewRenderer/BackendPreviewRender.php
