parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\.\=" between non\-falsy\-string and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Call to method assign\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Call to method render\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot call method getTemplatePaths\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot call method setControllerAction\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot call method setLayoutRootPaths\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot call method setPartialRootPaths\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot call method setTemplateRootPaths\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Instanceof between TYPO3\\CMS\\Core\\Domain\\RecordInterface and TYPO3\\CMS\\Core\\Domain\\RecordInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Variable \$image might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: '#^Binary operation "\.\=" between mixed and '',tx…'' results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''bw_static_template'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''ctrl'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''json'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''label_alt'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''palettes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''templates'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''tt_content'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''typeicon_classes'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php

		-
			message: '#^Cannot access offset ''types'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Configuration/TCA/Overrides/tt_content.php
