parameters:
	ignoreErrors:
		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\DataProcessing\\\\JsonProcessor\\:\\:process\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/DataProcessing/JsonProcessor.php

		-
			message: "#^Cannot access offset 9999999999 on mixed\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Method Blueways\\\\BwStaticTemplate\\\\PreviewRenderer\\\\BackendPreviewRender\\:\\:renderFluidBackendTemplate\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^PHPDoc tag @throws with type TYPO3\\\\CMS\\\\Extbase\\\\Configuration\\\\Exception\\\\InvalidConfigurationTypeException is not subtype of Throwable$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$fileName of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:getFileAbsFileName\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$haystack of function strpos expects string, mixed given\\.$#"
			count: 2
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$path of static method Blueways\\\\BwStaticTemplate\\\\UserFunc\\\\ContentElementUserFunc\\:\\:getTemplateNameFromPath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$path of static method Blueways\\\\BwStaticTemplate\\\\UserFunc\\\\ContentElementUserFunc\\:\\:getTemplateRootPathFromPath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$templateName of method TYPO3\\\\CMS\\\\Fluid\\\\View\\\\AbstractTemplateView\\:\\:setTemplate\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php

		-
			message: "#^Parameter \\#1 \\$url of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:getUrl\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/PreviewRenderer/BackendPreviewRender.php
